<html xmlns="http:://www.thymeleaf.org">
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:fragment="head">
        <title>Comercio Electronico</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
